Flask
flask-mongoengine
flask-bootstrap
Flask-Mobility
beautifulsoup4
requests

# As of 2014-02-13 these are required to work with Python3
git+https://github.com/mitsuhiko/werkzeug.git
git+https://github.com/MongoEngine/flask-mongoengine.git
