{% extends "bootstrap/base.html" %}
{% block title %}Feinkost{% endblock %}

{% block navbar %}
<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-inner">
		<a class="navbar-brand" href="{{ url_for('inventoryitem_list') }}">Feinkost</a>
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('inventoryitem_list') }}">Inventory</a></li>
			<li><a href="{{ url_for('product_list') }}">Products</a></li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">{% block center %}{% endblock %}</div>
{% endblock %}
