{% extends "base.html" %}

{% macro render_bestbefore_date(bestbefore_date) %}
{% if bestbefore_date %}
{% set days = bestbefore_date|timedelta_days %}

{% if days > 2 %}
<span class="label label-success">
{% elif days > 0 %}
<span class="label label-warning">
{% else %}
<span class="label label-danger">
{% endif %}

  {% if abs(days) > 300 %}
  {{ int(days / 300) }} year{% if int(abs(days / 330)) >= 2 %}s{% endif %}
  {% elif abs(days) > 28 %}
  {{ int(days // 28) }} month{% if int((days / 28)) >= 2 %}s{% endif %}
  {% else %}
  {{ days }} day{% if days >= 2 %}s{% endif %}
  {% endif %}
</span>
{% else %}
<span class="label label-success">
  ∞
</span>
{% endif %}
{% endmacro %}


{% block center %}
<h2>Inventory</h2>
<table id="inventory-items-table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Quantity</th>
      <th>Best Before</th>
      <th>Action</th>
    </tr>
  </thead>
  {% for item in inventory_items %}
  <tr>
    <td>{{ item.product.category.name }}</td>
    <td>{{ item|render_quantity }}</td>
    <td>{{ render_bestbefore_date(item.best_before) }}</td>
    <td><a href="{{ url_for('inventoryitem_remove', id=item.id) }}">
        <button type="button" class="btn btn-danger">Remove</button>
      </a></td>
  </tr>
  {% endfor %}
</table>

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        $('#inventory-items-table').bootstrapTable({
          search: true,
          columns: [{
            field: 'name',
            title: 'Name',
            sortable: true,
          }, {
            field: 'quantity',
            title: 'Quantity',
          }, {
            field: 'best_before',
            title: 'Best Before',
            sortable: true,
          }, {
            field: 'action',
          }]
        })
    });
</script>
{% endblock %}

<div class="form">
  <div class="col-xs-12 col-md-3 pull-right form-group">
    <!-- Use form-control to make the button full-width -->
    <a href="{{ url_for('inventoryitem_add') }}"><button type="button" class="btn btn-primary form-control">Add</button></a>
  </div>
  {% if request.MOBILE %}
  <div class="col-xs-12 col-md-3 pull-right form-group">
    <!-- Use form-control to make the button full-width -->
    <a href="{{ url_for('inventoryitem_remove_by_barcode') }}"><button type="button" class="btn btn-danger form-control">Remove</button></a>
  </div>
  {% endif %}
</div>
{% endblock %}
