{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% block center %}
<h2>Create Product</h2>
<form method="POST" action="{{ url_for('product_create') }}" class="form-horizontal" role="form">
  {{ form.hidden_tag() }}
  {{ render_field(form.barcode) }}
  {{ render_field(form.name) }}
  {{ render_field(form.best_before_days) }}
  {{ render_field(form.trading_unit) }}
  {{ render_field(form.category) }}
  <input type="submit" value="Create" class="btn btn-primary pull-right">
</form>
{% endblock %}
